/*Reset na box model*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  box-sizing: border-box;
  background-color: #F6F6F6;
  color: #000000;
  /*Grid da página*/
  display: grid;
  grid-template-areas:
    "header"
    "container"
    "footer";
  grid-template-rows: 1fr 1.8fr 1fr;
  align-items: end;
}

.header { 
  height: 100vh;
  padding: 2vw;
  font-size: 4vw;
  grid-area: header;
  /* Flexbox */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* Background estático */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-image: url(../img/EQUIPE_2024.jpg);
}

.titulo-modalidade{
  text-transform: uppercase;
  font-size: 7vw;
  color: #ffffff;
  font-size: 100%;  
  text-align: center;
}

.foto-esq {
  width: 100%;          /* Largura definida no seu style inline */
  height: 70%;         /* Altura definida no seu style inline */
  object-fit: cover;     /* Garante que a imagem cubra o espaço sem distorcer */
  object-position: 50% 50%; /* Centraliza o foco da imagem */
}

.foto-dir {
  width: 100%;          /* Largura definida no seu style inline */
  height: 70%;         /* Altura definida no seu style inline */
  object-fit: cover;     /* Garante que a imagem cubra o espaço sem distorcer */
  object-position: 50% 50%; /* Centraliza o foco da imagem */
}

.info-modalidade {
  width: 100%;    /* Largura específica */
  height: 70%;   /* Altura específica */
}

.sigla-modalidade {
  color: #fbcb2c;
  text-align: center;
}

.desc-modalidade {
  text-align: center;
}

.texto-modalidade {
  text-align: center;
  width: 70%;
}

.logo-CAASO {
  width: 100px; 
  height: 100px;
}

.horarios {
  background-color: #FAE32D;
  text-align: center;
}

.horarios ul {
  list-style-type: none; /* Remove as bolinhas */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.horarios li {
  margin: 5px 0; /* Adiciona um pequeno espaço entre os itens */
}

.responsaveis {
  background-color: #fbcb2c;
  text-align: center; /* Centraliza todo o conteúdo */
}

.responsaveis ul {
  list-style-type: none; /* Remove as bolinhas */
  padding: 0; /* Remove o padding padrão */
  margin: 0; /* Remove a margem padrão */
}

.responsaveis li {
  margin: 5px 0; /* Adiciona um pequeno espaço entre os itens */
}


.midia {
  background-color: #FAB12D;
  text-align: center; /* Centraliza todo o conteúdo */
}
