body {
  display: grid;
  grid-template-areas:
    "header"
    "container"
    "footer";
  grid-template-rows: 2fr 1fr 2fr;
}

.header { grid-area: header; }

.container {
  grid-area: container;
  display: grid;
  grid-template-areas: 
    "foto-esq info-modalidade foto-dir";
  grid-template-columns: 1fr 2fr 1fr;
}

.foto-esq { grid-area: foto-esq; }
.info-modalidade { grid-area: info-modalidade; }
.foto-dir { grid-area: foto-dir; }

.footer {
  grid-area: footer;
  display: grid;
  grid-template-areas: 
    ". horarios responsaveis midia .";
  grid-template-columns: 1.5fr 1fr 1fr 1fr 1.5fr;
}

.horarios { grid-area: horarios; }
.responsaveis { grid-area: responsaveis; }
.midia { grid-area: midia; }